language: php
sudo: false

env:
  global:
    secure: NyApmv9wlUj4Z2f3r3qbsp7bp6zQXvhnE57XooaZQVkzszGx34+SM0ng0/k0oet8HhQl7t3KLTTVhUu0e74gp3zJ31hmjosFOWtunOBYeXxIom21x70dne9+ngVP69rBQ1b/zrcfLq54ntcYNP0ZCMgoZaL5ufiRqUk0Pptq3+s=

php:
  - 7.1

before_script:
  - curl -sS https://getcomposer.org/installer | php
  - php composer.phar config -g github-oauth.github.com $GITHUB_TOKEN
  - BC_BUILD_LOG=400 php -n composer.phar install --prefer-dist
  - cp config/autoload/local.php.travis config/autoload/local.php
  - mysql -e 'create database browscap;'
  - mysql browscap < db/create004.sql

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover --colors --verbose

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar; php ocular.phar code-coverage:upload --format=php-clover coverage.clover
