version: '3.7'

volumes:
    logs:
        driver: local

services:
    php-server:
        build: docker/php
        working_dir: /var/www
        command: php -S 0.0.0.0:8080 -t public public/index.php
        environment:
            docker: "true"
        ports:
            - 8080:8080
        volumes:
            - .:/var/www:ro
            - ./cache:/var/www/cache
            - ./vendor:/var/www/vendor
            - ./composer.lock:/var/www/composer.lock
        depends_on:
            - db

    db:
        image: mysql:5.6
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: browscap
        volumes:
            - ./db/create004.sql:/docker-entrypoint-initdb.d/create.sql:ro
        ports:
            - 3306:3306

    adminer:
        image: adminer
        ports:
            - 8081:8080
