{% extends "layout.html" %}

{% block content %}

<div id="downloads">

    <h1>Downloads</h1>

    <p>The latest version is <strong>{{ version }}</strong> ({{ releaseDate }})</p>

    <h2>ASP Versions</h2>
    <ul>
    	{% for code, file in files.asp %}
    	<li>
    	    <p><a href="/stream?q={{ code }}">{{ file.name }}</a> <em>({{ file.size }} KB)</em></p>
    	    <p>{{ file.description }}</p>
    	</li>
    	{% endfor %}
    </ul>

    <h2>PHP Versions</h2>
    <ul>
    	{% for code, file in files.php %}
    	<li>
    	    <p><a href="/stream?q={{ code }}">{{ file.name }}</a> <em>({{ file.size }} KB)</em></p>
    	    <p>{{ file.description }}</p>
    	</li>
    	{% endfor %}
    </ul>

    <h2>Other files (XML/CSV/JSON/ZIP)</h2>
    <ul>
        {% for code, file in files.other %}
        <li>
            <p><a href="/stream?q={{ code }}">{{ file.name }}</a> <em>({{ file.size }} KB)</em></p>
            <p>{{ file.description }}</p>
        </li>
        {% endfor %}
    </ul>

    <p>Other file versions that used to be available (property-name-docs.xml, known_agents.zip) are no longer supported.</p>

</div>

<div id="info">

    <h1>Important Information</h1>

    <h2>Usage with PHP</h2>
    <p>We highly recommend using the <a href="https://github.com/browscap/browscap-php">browscap-php</a> library from Jonathan Stoppani (<a href="https://github.com/GaretJax">GaretJax</a>).</p>

    <h2 id="Rate-Limiting">Rate Limiting</h2>
    <p>Downloading the INI files here implies you agree to our fair usage policy. <em>Any repeat attempts to download the files will be banned.</em> We highly recommend that you request the version URL and compare your current version against the latest version before requesting the download URL.</p>
    <p>We have implemented rate limiting and banning with the following rules:</p>
    <ul>
        <li>You may download {{ banConfig.rateLimitDownloads }} files per {{ banConfig.rateLimitPeriod }} hour period. If you exceed this you will be temporarily banned for {{ banConfig.rateLimitPeriod }} hour{{ banConfig.rateLimitPeriod == 1 ? '' : 's' }}.</li>
        <li>You are allowed up to {{ banConfig.tempBanLimit }} temporary bans in a {{ banConfig.tempBanPeriod }} day period. If you exceed this, you will be permanently banned.</li>
        <li>If you are permanently banned, please contact us via the <a href="https://groups.google.com/group/browscap">Discussion Forum</a> to discuss your situation.</li>
        <li>Rate limiting is not applied to requests to <span class="monospace">/version</span> or <span class="monospace">/version-number</span> requests.</li>
    </ul>

    <h2>Download URLs</h2>
    <dl>
        <dt><strong>Version:</strong></dt>
        <dd><span class="monospace">{{ app.request.getHttpHost() }}/version</span></dd>
        <dd><span class="monospace">{{ app.request.getHttpHost() }}/version-number</span></dd>
    </dl>
    <dl>
        <dt><strong>Download:</strong></dt>
        <dd><span class="monospace">{{ app.request.getHttpHost() }}/stream?q=BrowsCapINI</span> (replace <em>BrowsCapINI</em> with the appropriate version)</dd>
    </dl>

    <h2>Missing User Agents</h2>
    <p>Please report any missing user agents on <a href="https://github.com/browscap/browscap/issues">our GitHub tracker</a>.</p>
</div>
{% endblock %}
