{% extends "layout.html" %}

{% block content %}

<div id="privacy">

    <h1>Privacy Policy</h1>

    <p>
        We strongly believe in being transparent about your data, so we've outlined the various ways your data might be
        collected when using our services, and how you can access, and remove data. If you are ever concerned about
        your data, or how we're processing it, please contact us and we will work with you to solve it.
    </p>

    <p>
        Please remember, Browscap is provided by volunteers and is an open source project. We have limited resources,
        but we will do everything we can to ensure any personal data is handled correctly. We were going to use a
        template for this privacy policy, but this is actually written out by hand, as we felt it would be easier to
        read and understand. If you spot any mistakes, or think we've missing anything out important, please open an
        <a href="https://github.com/browscap/browscap-site/issues">issue on GitHub</a> - or email us (below).
    </p>

    <h2>Who operates this website?</h2>

    <p>
        The Browser Capabilities Project is an open source collective. The project itself does not have a company
        running it. The web hosting is provided by JT Web Development Ltd, which is the company run by one of the
        contributors, <a href="https://github.com/asgrim">asgrim on GitHub</a>.
    </p>

    <h2>How can I contact you?</h2>

    <p>
        Please contact us using
        p<!-- -->r<!-- -->i<!-- -->v<!-- -->a<!-- -->c<!-- -->y<!-- -->&#64;<!-- -->b<!-- -->r<!-- -->o<!-- -->w<!-- -->s<!-- -->c<!-- -->a<!-- -->p<!-- -->&#46;<!-- -->o<!-- -->r<!-- -->g
        and we will be happy to help, as soon as we practically can - but please remember, this is open source - we do
        this in our free time, but we will usually be able to respond pretty quickly.
    </p>

    <p>
        Please don't use this email to contact us about support issues, how to use Browscap, getting your IP unbanned,
        or anything else other than regarding your personal data or our privacy policy.
    </p>

    <h2>What data do we collect?</h2>

    <p>
        We use Google Adsense on this site to present advertisements. This helps fund the running costs, although it
        doesn't actually cover much - about GBP &pound;60 a year, in fact. In order to use this, we have to have a
        privacy policy, so here it is. Upon opening this website, you will be presented with Google's own GDPR message
        in order to provide consent. You should refer to Google Adsense's GDPR popup on how they process your data.
    </p>

    <p>
        The website uses Cloudflare in addition, which helps us keep traffic to our source servers down by caching
        requests and responses. Please see <a href="https://www.cloudflare.com/en-gb/privacypolicy/">Cloudflare's privacy policy</a>.
    </p>

    <p>
        We also store your IP address, user agent, and which "file" you downloaded for rate limiting purposes. This is
        to prevent abuse of our servers, and the data is stored in a database.  We feel the storage of this information
        is within the grounds of legitimate interest, to ensure our servers are not overloaded with spam traffic.
    </p>

    <p>
        The number of downloads made is also summarised, in a totally anonymous way, into the statistics page to show
        how many downloads the project gets over the last 30 days, and per month.
    </p>

    <p>
        The source code for this website is transparent and available on GitHub, meaning you may perform your own
        audits before using Browscap. See <a href="https://github.com/browscap/browscap-site">github.com/browscap/browscap-site</a>.
        The site additionally outlines the exact data structures that we store in our database.
    </p>

    <h2>Who has access to your data?</h2>

    <p>
        Only one person has access to the database, in order to administer the sites operation within the parameters
        outlined above. It is stored securely in a cloud database provided by JawsDB.
    </p>

    <h2>Removing your data, requesting a copy of the data you store, or amending the data we store</h2>

    <p>
        You may request that your user agent is removed from your download record, but we need to keep your IP address
        in the database to ensure our servers are kept safe from abuse.
    </p>

    <p>
        We can send you a copy of all your data, and/or amend it as necessary.
    </p>

    <p>
        Please use the contact details above to get in touch.
    </p>

    <h2>Revoke consent to personalized ads</h2>

    <p>
        At any time, you can revoke consent for personalized ads through Google Adsense with this link:
    </p>

    <p>
        <a href="javascript:googlefc.callbackQueue.push(googlefc.showRevocationMessage)">Click here to revoke your choice</a>.
    </p>

</div>

{% endblock %}
