/********** GENERAL **********/
body {
	background-color: #f8f8ff;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.clear {
	clear: both;
}
header, div#body, footer {
	width: 960px;
	margin: 0 auto;
}
header, footer {
	background-color: #ededff;
	border: 1px dotted #3b5998;	
}

h1 {
	border-bottom: 2px solid black;	
}
h2 {
	color: #3b5998;
}
.monospace {
	font-family: "Courier New", Courier, monospace;
	color: #3b5998;
}
table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}
table th, table td {
	border: 1px solid #dbdbff;
	padding: 3px 5px;
	background-color: #fafafa;
}
table thead tr th {
	background-color: #3b5998;
	color: white;
}
table tbody tr td {
}

/********** HEADER **********/
header {
	border-top: none;	
}
header > img {
	float: left;
	margin: 20px;
}
#textLogo {
	font-size: 40px;
	color: #3b5998;
	font-weight: bold;
	margin: 0;
	padding: 20px 0 0 0;
}
#textLogoSubtitle {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 0 0;	
}
header ul {
	margin: 0;
	padding: 10px 0 0 0;
}
header ul li {
	display: inline;
	padding-left: 15px;
}
header ul li:first-child {
	padding-left: 0;
}



/********** MAIN **********/
#beta {
	color: red;
}
#beta h1 {
	border-bottom: 2px solid red;	
}
#beta a {
	color: #8b0000;	
}


/********** FOOTER **********/
footer {
	margin: 30px auto 20px;
	font-size: 12px;
}
#copyright {
	margin: 0;
	padding-top: 20px;
	text-align: center;
}
footer ul {
	margin: 0;
	padding: 0 0 20px 0;
	text-align: center;
}
footer ul li {
	display: inline;
	padding-left: 10px;
}
footer ul li:first-child {
	padding-left: 0;
}
