<?php
declare(strict_types=1);

return [
    \Zend\ConfigAggregator\ConfigAggregator::ENABLE_CACHE => false,
    'db' => [
       'dsn' => 'mysql:dbname=browscap',
       'user' => 'XXX',
       'pass' => 'XXX',
    ],
    'debug' => true,
];
